/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-simple-snackbar-action {
  color: #f07320
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #e3eaec 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #f07320 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f07320 0% 0% no-repeat padding-box;
}
